<%- include("partials/header", {authRequired: true}) %>
<div class="content" style="position: fixed !important">
    <div class="half blue">

    </div>
    <form id="login">
        <h1 id="main">Learning</h1>
        <div id="learning-content">
            <button type="button" id="learn">Start Learning</button>
        </div>
    </form>
</div>
<% include partials/footer %>
